.container {
    position: relative;
    margin-bottom: -10px;
}

.banner {
    width: 100%;
}

.card {
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    width: 80%; 
    height: auto;
    display: flex;
    gap: 100px;
}

